{
  "env": {
    "es2020": true,
    "jest": true
  },
  "extends": [
    "@react-native-community",
    "airbnb",
    "plugin:import/errors",
    "plugin:import/warnings",
    "plugin:react-native-a11y/basic",
    "plugin:testing-library/recommended",
    "plugin:prettier/recommended",
    "prettier/react"
  ],
  "parser": "babel-eslint",
  "rules": {
    "react/forbid-prop-types": "off",
    "react/jsx-filename-extension": "off",
    "react/jsx-props-no-spreading": "off",
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": [
          "**/render.js",
          "**/*.test.js"
        ]
      }
    ],
    "import/order": [
      "error",
      {
        "groups": [
          "builtin",
          "external",
          "parent",
          "sibling",
          "index"
        ]
      }
    ],
    "import/prefer-default-export": "off"
  },
  "settings": {
    "import/resolver": {
      "babel-module": {
        "extensions": [
          ".android.js",
          ".ios.js",
          ".js",
          ".native"
        ]
      }
    }
  }
}